.side-bar{
    position: fixed;
    max-width: 30vw;
    height: 100%;
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-bar ul li:hover{
    text-decoration:underline;
    text-decoration-color: #F7DC6F;
}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}