@import url('../../Custom.css');
*,
*::before,
*::after {
  box-sizing: border-box;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-recuperar{
  color: var(--lima);
}
.login .col-md-8 form{
  width: 60vmin;
}
@media screen and (max-width: 480px){
  .login .col-md-8 form{
    width: 100%;
  }
  
}