.input-container {
    position: relative;
}

.inputFloat,.inputNumber{
    border: 2px solid #2C3E50;
    border-radius: 4px;
    padding: 40px;
    width: 100%;
    outline: none;
    font-size: 16px;
}

input:focus {
    border: 2px solid #F39C12;
}


.select {
    border: 2px solid #2C3E50;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: #79747E;
    height: 80px;
}

.select:focus {
    border: 2px solid #F39C12;
}

.label-input {
    background: white;
    padding: 10px 4px; 
    color: #2C3E50;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    position: absolute;
}

label{
    background: white;
    padding: 0 4px; 
    color: #2C3E50;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.select:focus + .label-input,
.select:not(:placeholder-shown) + .label-input {
    top: -10px;
    left: 10px;
    color: #2C3E50;
}

.inputNumber:focus + .label-input,
.inputNumber:not(:placeholder-shown) + .label-input {
    top: -10px;
    left: 10px;
    color: #2C3E50;
}

.inputFloat:focus + .label-input,
.inputFloat:not(:placeholder-shown) + .label-input {
    top: -10px;
    left: 10px;
    color: #2C3E50;
}

.select option{
    color: #79747E;
}

#inputNumber{
    height: 160px;
    font-size: 60px;
    color: var(--Azul-oscuro, #2C3E50);
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    padding: 0px 50px ;
}