
.login{
    height: 100vh;
    position: relative;
    .logo{
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    
    form{
        max-width: 20rem;
        position: relative;
        .input-field{
            label{
                transform: translateX(.5em) translateY(0.7em);
                background-color: white;
                padding: 0 0.5em;
                color: purple;
            }
        }
        
    }
}
