
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}
$theme-colors: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);
.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login, .register{
  height: 100vh;
  position: relative;
  .logo{
      position: absolute;
      top: 1rem;
      left: 1rem;
  }
  .login form{
    max-width: 20rem;
  }
  
  form{
      position: relative;
      section .col-6 .input-field{
          label{
              transform: translateX(.5em) translateY(0.7em);
              padding: 0 0.5em;
              color: purple;
          }
          .login label{
              background-color: white;
          }
          .register label{
              background-color: map-get($theme-colors, "secondary");
          }
          .register{
            background-color: map-get($theme-colors, "secondary");
          }
      }
      
  }
}
